table,
th {
  text-align: center;
  border-bottom: 1px solid var(--gray-300);
}
th,
tr,
td {
  padding: 0.5rem;
}

.cart-page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.shop-link {
  margin-top: 1rem;
}

.horizontal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.hori-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}
.my-cart {
  margin-top: 1.5rem;
  display: flex;
}

.qty-input {
  padding: 0.5rem;
  width: 3.5rem;
  border: 1px solid var(--gray-500);
  outline: none;
  background-color: var(--gray-100);
}
.ct-product-stats h4 {
  color: var(--gray-700);
}

.checkout {
  text-align: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  gap: 1rem;
  padding: 0.5rem;
  color: var(--gray-700);
  margin-left: 1rem;
}
.checkout h3 {
  padding-bottom: 0.5rem;
}
