/* navbar styles below  */
.nav {
  color: var(--violet-700);
  background: var(--gray-100);
  position: sticky;
  top: 0;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
  z-index: 5;
}
.nav-logo {
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
}
.nav-icons {
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 250ms ease;
}
.nav-logo a {
  text-decoration: none;
  color: var(--violet-700);
  transition: all 250ms ease;
}
.nav-logo a:hover {
  color: var(--gray-500);
}
span.nav-icons:hover {
  color: var(--gray-500);
}
.icon-div {
  margin: 0 0.3rem;
}
.basic-badge a {
  color: var(--violet-700);
}
.badge-pop {
  font-size: 12px;
  padding: 0 0.2rem;
}
.ct-input {
  border-color: var(--violet-500);
}
.ct-violet-btn {
  background-color: var(--violet-700);
  color: var(--gray-100);
  transition: all ease 250ms;
}
.ct-violet-btn:hover {
  background-color: var(--gray-500);
}

/* On hover dropDown  */

.dropdown-content {
  display: none;
  position: fixed;
  background-color: var(--gray-100);
  box-shadow: 0 5px 2rem rgba(0, 0, 0, 0.15);
  z-index: 3;
}

.dropdown-content a {
  color: var(--violet-700);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--violet-300);
  right: 0.6rem;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  right: 0.6rem;
}
