/* navbar styles below  */
.nav {
  color: var(--violet-700);
  background: var(--gray-100);
}
.nav-logo {
  font-size: 1.5rem;
  font-weight: 300;
  cursor: pointer;
}
.nav-icons {
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 250ms ease;
}

span.nav-icons:hover {
  color: var(--gray-500);
}
.icon-div {
  margin: 0 0.3rem;
}
.basic-badge a {
  color: var(--violet-700);
}
.badge-pop {
  font-size: 12px;
  padding: 0 0.2rem;
}
.ct-input {
  border-color: var(--violet-500);
}
.ct-violet-btn {
  background-color: var(--violet-700);
  color: var(--gray-100);
  transition: all ease 250ms;
}
.ct-violet-btn:hover {
  background-color: var(--gray-500);
}
