.form-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ct-form {
  border: none;
  border-radius: 7px;
  box-shadow: 0 5px 2rem rgba(0, 0, 0, 0.15);
}
.ct-form h2 {
  color: var(--gray-700);
}
.ct-violet-btn {
  margin: 0;
}
.ct-checkbox-div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  flex-wrap: wrap;
}
.login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-500);
}
.login-link:hover {
  color: var(--gray-700);
}
