.form-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ct-form {
  border: none;
  border-radius: 7px;
  box-shadow: 0 5px 2rem rgba(0, 0, 0, 0.15);
}
.ct-form h2 {
  color: var(--gray-700);
}
