/* @import url("http://fonts.cdnfonts.com/css/avenir-next-lt-pro"); */
@import url("/fonts/AvenirNextLTPro-Regular.otf");

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNextLTPro-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Avenir Next";
  background: var(--gray-100);
  color: var(--gray-500);
  letter-spacing: 0.03em;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ct-btn {
  font-family: "Avenir Next";
}
/* navbar styles below  */
.nav {
  color: var(--violet-500);
  background: var(--gray-100);
}
.nav-logo {
  font-size: 1.5rem;
  font-weight: 300;
  cursor: pointer;
}
.nav-icons {
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 250ms ease;
}

span.nav-icons:hover {
  color: var(--gray-500);
}
.icon-div {
  margin: 0 0.3rem;
}
.badge-pop {
  font-size: 12px;
  padding: 0 0.2rem;
}
.ct-input {
  border-color: var(--violet-500);
}
.ct-violet-btn {
  background-color: var(--violet-500);
  color: var(--gray-100);
  transition: all ease 250ms;
}
.ct-violet-btn:hover {
  background-color: var(--gray-500);
}
/* Hero section styles  */
.hero {
  background-image: url("../images/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  text-align: center;
  color: var(--gray-100);
  font-size: 2rem;
  opacity: 1;
  background: rgba(0, 0, 0, 0.25);
}
.hero-container h1 {
  padding: 1rem;
}

/* Section container styles below  */
.section-container {
  max-width: 80%;
  min-width: 300px;
  margin: 4rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.section-container h2 {
  color: var(--gray-700);
}
.img-container {
  max-width: 40%;
}

.content {
  max-width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
